html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

textarea[name=status] {
  font-size: 28px;
}

.status {
  font-size: 28px;
  border-bottom: 2px solid rgb(233, 233, 233);
}
